* {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

header{
  height: auto;
}

li{
  list-style: none;
}

.header-menu li{
  float: left;
  padding-left: 20px;
}

.header-menu{
  float: right;
  padding-top: 10px;
}

.header-in{
  padding: 20px;
}

.header-logo{
  float: left;
}

main{
  height: 500px;
}

footer{
  height: auto;
}

.footer-logo{
  float: left;
}

.footer-menu{
  float: right;
}
